* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.wrapper {
    position: relative;
    width: calc(100% - 600px);
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
}
.content     {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    min-height: 1000px;
    background: #cfe2f3;
    margin: 0 auto;
    z-index: 99;
}
.wrapper input {
    position: fixed;
    z-index: 999;
    left: 50%;
    opacity: 0;
    margin-top: 10px;
    cursor: pointer;
}
.open-close {
    position: absolute;
    margin-top: 10px;
}
.left-aside, .right-aside {
    position: absolute;
    top: 40px;
    width: 300px;
    min-height: calc(100% - 40px);
    background: #efeff0;
    border-radius: 15px;
    -webkit-transition: .8s;
    transition: .8s;
    z-index: 9;
}

@-webkit-keyframes left-aside {
    0% {box-shadow: 0 0 0 #0000001f;}
    25% {box-shadow: 0 0 0 #00000038;}
    50% {box-shadow: 0 0 0 #00000040;}
    100% {box-shadow: -13px 13px 20px -8px #0003334f;}
}
@-webkit-keyframes right-aside {
    0% {box-shadow: 0 0 0 #0000001f;}
    25% {box-shadow: 0 0 0 #00000038;}
    50% {box-shadow: 0 0 0 #00000040;}
    100% {box-shadow: 13px 13px 20px -8px #0003334f;}
}


input:checked ~ .left-aside, input:checked ~ .right-aside {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 9;
}

input:checked ~ .left-aside {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(-95%);
    animation-name: left-aside;
}
input:checked ~ .right-aside {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(95%);
    animation-name: right-aside;
}



.left-aside {
    left: 0;
    transform: translateX(100%);
}
.right-aside {
    right: 0;
    transform: translateX(-100%);
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    background: #1274cc;
}
.description {
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}
.section-visible {
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
    width: 200px;
    float: right;
    background: #dad2e9;
    height: 350px;
    border: 1px solid black;
    margin: 0 10px;
    z-index: 999;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    border: 1px solid black;

}
.to-be-changed {
    color: black;
}

.to-be-changed:target {
    color: red;
}

@media screen and (max-width: 1225px) {
    .wrapper {
        width: calc(100% - 400px);
    }
    .left-aside,.right-aside {
        width: 200px;
    }
}
@media screen and (max-width: 816px) {
    .wrapper {
        width: calc(100% - 300px);
    }
    .left-aside,.right-aside {
        width: 100px;
    }
}
@media screen and (max-width: 618px) {
    .wrapper {
        width: calc(100% - 300px);
    }
    .left-aside,.right-aside {
        width: 100px;
    }
}
@media screen and (max-width: 525px) {
    .wrapper {
        width: calc(100% - 120px);
    }
    .left-aside,.right-aside {
        width: 60px;
    }
    .section-visible {
        width: 150px;
    }
}